@use "../styles/variables.scss";

.c4kHeader {
  grid-area: header;
}
.c4kHeaderLogo {
  text-align: center;
}
.c4kHeaderLogo img {
  display: block;
  height: calc(var(--vRhythm) * 2);
  max-width: 100%;
  margin: calc(var(--vRhythm) / 2) auto;
}

@media screen and (max-width: variables.$CSS_BREAKPOINT_END_S) {
  .c4kHeaderLogo img {
    height: calc(var(--vRhythm) * 4);
    margin: var(--vRhythm) auto;
  }
}
