@use "../styles/variables.scss";

.c4kMenu {
  grid-area: menu;
  background: var(--primary);
  color: var(--light);
  font-size: var(--bigFontSize);
  line-height: calc(var(--vRhythm) * 2);
  text-align: right;
}

.c4kMenuBody,
.c4kMenuItem {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c4kMenuBody {
  display: flex;
  flex-direction: column;
}

.c4kMenuItem {
  display: block;
}
.c4kMenuItem a {
  display: block;
  text-decoration: none;
  color: var(--light);
  padding: 0 var(--gutter);
}
.c4kMenuItem a:hover {
  background-color: #ffffff0f;
  color: var(--light);
}
.c4kMenuItem a:visited {
  color: var(--light);
}
.c4kMenuItem a.selected:before {
  content: ">\a0";
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_M) {
  .c4kMenu {
    line-height: calc(var(--vRhythm) * 3);
    text-align: center;
  }

  .c4kMenuBody {
    display: flex;
    flex-direction: row;
  }
  .c4kMenuItem a {
    padding: 0 calc(var(--gutter) * 2);
  }
  .c4kMenuItem a:hover,
  .c4kMenuItem a.selected {
    background-color: #ffffff0f;
  }
  .c4kMenuItem a.selected:before {
    content: "";
  }
}

@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) {
  .c4kMenuBody {
    max-width: calc(var(--gutter) * var(--maxWritingsWidth));
    margin: 0 auto;
  }
}

@media print {
  .c4kMenu {
    display: none;
  }
}
